<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Set ESPN Credentials and Default Year</h2>
    <form method="post">
        <label>ESPN_S2:</label><br>
        <input type="text" name="espn_s2" required><br>
        <label>SWID:</label><br>
        <input type="text" name="swid" required><br>
        <label>Year:</label><br>
        <input type="number" name="year" required><br>
        <button type="submit">Save Credentials</button>
    </form>
    <a href="{{ url_for('home') }}">Home</a> <!-- Link to go back to Home -->
</body>
</html>
